/* Tag Selector*/

body {
    background-color: #181b1c;
    font-family: Arial, Helvetica, sans-serif;
    color: #9c1c1c;
    margin: 40px;
}
h1 {
    color: #2c3e50;
    text-align: center;
}

p {
    line-height: 1.6;
}

ul {
    background-color: white;
    padding: 15px;
    border-radius: 29px;
}

img {
    border: 2px solid #2c3e50;
    border-radius: 10px;
    width: 96%;
}
a {
    color: #2980b9;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    background-color: rgb(179, 158, 74);
}


/* class selector */   


.highlight {
    background-color: yellow;
    font-weight: bold;
}

/* ID Selector */
#main-title {
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: 2px;
}